apiVersion: apps/v1
kind: Deployment
metadata:
  name: local-path-provisioner
spec:
  replicas: 1
  selector:
    matchLabels:
      app: local-path-provisioner
  template:
    metadata:
      labels:
        app: local-path-provisioner
    spec:
      serviceAccountName: local-path-provisioner-service-account
      containers:
        - name: local-path-provisioner
          image: rancher/local-path-provisioner:v0.0.25
          imagePullPolicy: IfNotPresent
          command:
            - local-path-provisioner
          args:
            - --debug
            - start
            - --config
            - /etc/config/config.json
          volumeMounts:
            - name: config
              mountPath: /etc/config/
      volumes:
        - name: config
          configMap:
            name: local-path-config
